/target/
target/
/build/
/bin/
log/
.settings/


.classpath
.metadata
.springBeans
.project
.DS_Store
.svn

*.class
*.jar
*.war
*.ear
*.db

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

#Jenkins
hudsonBuild.properties
application.properties
